@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont.ttf);
}

#title {
    color: blue;
    text-align: center;
}

body {
    font-family: Inter;
}

.transparent {
    background: black;
    color: black;
}